/* Reset some default browser styles */
body, ul {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; /* Set Open Sans as the default font */
  font-size: 18px; /* Larger font size for better accessibility */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body covers the entire viewport height */
}

/* Basic styling for the content */
#content {
  flex: 1; /* Grow to fill available space */
  /* padding: 20px; */

}

/* Basic styling for the footer */
footer {
  background-color: #2e1d67; /* Use brand color #2e1d67 for the footer background */
  color: #fff;
  text-align: center;
  padding: 10px 0; /* Removed left padding */
  padding-left: 0; /* Set left padding to zero */
  padding-right: 0; /* Set right padding to zero */
  position: fixed;
  bottom: 0;
  left: 0; /* Set left to zero to ensure footer is flush against the left edge */
  width: 100%;
}

.container {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the form */
form {
  width: 600px;
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

label {
  display: block;
  font-weight: bold;
}

/* Styling for form elements */
input[type="text"],
input[type="email"],
input[type="number"],
button, textarea {
  padding: 12px; /* Increased padding for better clickability */
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px; /* Larger font size for better accessibility */
}

input[type="text"],
input[type="email"],
textarea {
  width: 95%;
}

button {
  background-color: #006ab4; /* Use brand color #006ab4 for buttons */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #38d430; /* Use brand color #38d430 for button hover */
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Target only the <th> elements in the second row and remove border */
tr:nth-of-type(2) th {
  border-bottom: none;
}





main{
  box-sizing: border-box;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #0F172A;
  min-height: 100vh;
  padding: 10px;
  gap:20%;
  position: relative;
  .backdrop{
    display: none;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    opacity: 0.4;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffff;
    z-index: 10;
  }
  button{
      background-color: #3B82F6;
      border: #334155;
      padding: 20px;
      min-width: 120px;;
  }

  button:hover{
      background-color: #60A5FA;
  }

  .nav{
    box-sizing: border-box;
    padding:20px;
    display: flex;
    align-items: end;
    width: 100%;
    justify-content: space-between;
    h1{
      align-self: flex-start;
      color:#F8FAFC;
      font-size: 2.15vw;
      text-align: center;
    }
    .btn-back{
    width: 150px;
    padding: 10px;
    height: 50px;

    }
  }


  .main-nav-container{
    max-width: clamp(350px,50%,800px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;

   .main-sub-heading{
      font-size: clamp(1rem,2rem,2.25rem);
      color:#CBD5E1 ;
    }

    .main-btn-container{
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      gap:20px;

    
    }


  }

  .people-screen{
    width:95%;
    padding:50px 0px;
    color: #F8FAFC;
    .people-screen-div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2{
        color:#F8FAFC;
        font-size: 2.25vw;
        text-align: start;
      }
     
    }
    th, td {
      padding: 15px; /*Increased padding for better readability*/
      text-align: left;
      border-bottom: 1px solid #ddd;
      text-align: center;
    }

    th {
      background-color: #3B82F6;
    }  
  }

  .container{
    position: absolute;
  }
}

.Schedule-container{
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: start;
  margin-bottom: 20px;
  .group-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:10px;
    .schedule-group{
      width: 180px;
    }

  }
}